body {
    background: none;
}
header{
    margin-top:20px;
}
header, footer{
    font-family: 'Lato',Arial,serif;
}
.navbar-inner{
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    min-height: 0;
}
.navbar {
    margin-bottom: 0px;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    background-color: #fff;
}
.lead{
    color: #333;
    font-size: 16px;
}
.wrapper{
    border: none;
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}
.dataset-map-expanded #dataset-map {
    width: 938px;
}
#block-locale-language ul {
    list-style: none;
    margin-left: 15px;
}
#block-locale-language li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .btn-navbar {
    background: none;
    border-color: #ddd;
    position: absolute;
    top: 25px;
    right: 10px;
}
.navbar .btn-navbar .icon-bar {
    background-color: #ccc;
    box-shadow: none;
    margin-right: 0px;
}
.toolbar{
    display: none;
}
#logo img{
    margin-left: -15px;
}
#header-row div {
    max-width: 75%;
    padding-left: 5px;
}
footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
}
footer section{
    padding: 0 15px;
}
footer h2 {
    font-size:18px;
    font-weight: bold;
    margin: 0 0 1em 0;
    text-transform: capitalize;
}
footer .menu li {
    padding: 4px 0;
}
footer .menu li a {
    font-size: 14px;
    display: block;
    padding: 0 !important;
    text-indent: 0px;
    line-height: 20px;
    color: #000 !important;
}


/* ### START @media (min-width: 1200px) ### */

@media (min-width: 1200px){

.container{
    width:1140px;
}
.container .primary{
    width: 900px;
}
#logo{
    width: 35%;
}
#logo img{
    max-width: none;
}

}
/* ### END @media (min-width: 1200px) ### */

/* ### START @media (min-width: 768px) ### */
@media (min-width: 768px){

[role=main], .main {
    background: none;
}
header {
    border: 0;
}
#header-row div {
    max-width: 100%;
    padding-left: 0px;
}
#logo img{
    margin-left: 0px;
}
.navbar{
    margin-left: 15px;
}
.navbar .nav>li {
    float: left;
}
.navbar .btn-navbar {
    display: none;
}
.nav-collapse.collapse {
    height: auto;
    overflow: visible;
}
#block-locale-language {
    position: absolute;
    top: -75px;
    right: 0px;
}
#block-locale-language ul {
    padding: 0;
}
#block-locale-language li {
    padding-left: 1em;
    line-height: 20px;
    display: inline;
    text-transform: initial;
    text-align: right;
}
#block-locale-language a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #428bca;
    text-decoration: none;
    font-size: 14px;
}
.lead {
    margin: 36px 0 0 0;
    padding-left: 0;
    padding-bottom: 10px;
    font-size: 18px;
}
li.leaf {
    background-image: url(/sites/all/themes/datigovit/images/separa_menu.png);
    background-position: right;
    background-repeat: no-repeat;
}
li.leaf > a {
    color: #cc2575 !important;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    float: left !important;
    height: 1em;
    line-height: 1em;
    padding: 0 0.8em !important;
    text-decoration: none !important;
    text-shadow: 0 1px #eee !important;
}
li.leaf.first > a {
    padding: 0 0.8em 0 0 !important;
}
li.leaf.last {
    background-image: none;
}
.toolbar{
    display: block;
}
footer .menu li {
    background: none !important;
}
footer .menu li a {
    font-weight: normal;
    float: none !important;
    height: auto;
}



}
/* ### END @media (min-width: 768px) ### */

/* ### START @media (min-width: 980px) ### */
@media (min-width: 980px){
footer h2 {
    font-size:13px;
}
footer .menu li a {
    font-size:12px;
}

}
/* ### END @media (min-width: 768px) ### */

/* ### START @media (min-width: 768px) and (max-width: 1199px)  ### */
@media (min-width: 768px) and (max-width: 1199px) { 
footer section.span3 {
    width: 18% !important;
}
}
/* ### END @media (min-width: 768px) and (max-width: 1199px)  ### */
