<footer class="footer container">
<div class="region region-footer">
    <section id="block-menu-menu-chi-siamo-openexpo" class="span3">
        <h2 class="block-title">{{_('About')}} </h2>
	<ul class="menu nav">
		<li class="first leaf"><a href="http://www.agid.gov.it/" title=""> Agenzia per l’Italia Digitale</a></li>
		<li class="leaf"><a href="http://www.funzionepubblica.gov.it/" title=""> Dipartimento Funzione Pubblica</a></li>
		<li class="leaf"><a href="http://www.expo2015.org/it/index.html" title="">Expo 2015 S.p.A.</a></li>
		<li class="last leaf"><a href="http://www.formez.it/" title="">Formez PA</a></li>
	</ul>
    </section> <!-- /.block -->
    <section id="block-menu-menu-informazioni-utili" class="span3">
	<h2 class="block-title">{{_('The Project')}}</h2>
	<ul class="menu nav">
		<li class="first leaf"><a href="/it/content/cosa-open-expo" title="">{{_('What is Open Expo')}}</a></li>
		<li class="last leaf"><a href="/it/node/10886" title="">{{_('Who realizes Open Expo')}}</a></li>
	</ul>
    </section> <!-- /.block -->
    <section id="block-menu-menu-varie" class="span3">
	<h2 class="block-title">Expo 2015</h2>
	<ul class="menu nav">
		<li class="first leaf"><a href="http://www.expo2015.org/it" title="">Expo 2015</a></li>
		<li class="leaf"><a href="http://www.anticorruzione.it/?cat=93" title="">ANAC - Unità Operativa speciale EXPO 2015</a></li>
		<li class="last leaf"><a href="http://www.e015.expo2015.org/" title="">E015</a></li>
	</ul>
    </section> <!-- /.block -->
    <section id="block-menu-menu-sito" class="span3">
	<h2 class="block-title">{{_('Website')}}</h2>
	<ul class="menu nav">
		<li class="first leaf"><a href="/it/content/i-feed-rss-di-openexpo2015" title="">{{_('OpenExpo 2015 feed RSS')}}</a></li>
		<li class="leaf"><a href="/it/content/accessibilita" title="">{{_('Accessibility')}}</a></li>
		<li class="leaf"><a href="/it/content/note-legali" title="">{{_('Legal notes')}}</a></li>
		<li class="leaf"><a href="/it/content/privacy" title="">Privacy</a></li>
		<li class="last leaf"><a href="/it/user" title="">{{_('Restricted area')}}</a></li>
	</ul>
    </section> <!-- /.block -->
</div>
</footer>
