    <div id="footer-wrapper"><div class="section">
      <div class="clearfix" id="footer-columns">
      <hr />
          <div class="region region-footer-firstcolumn">
    <div class="block block-menu" id="block-menu-menu-chi-siamo-openexpo">

    <h2>Chi siamo </h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="http://www.agid.gov.it/"> Agenzia per l’Italia Digitale</a></li>
<li class="leaf"><a title="" href="http://www.funzionepubblica.gov.it/"> Dipartimento Funzione Pubblica</a></li>
<li class="leaf"><a title="" href="http://www.expo2015.org/it/index.html">Expo 2015 S.p.A.</a></li>
<li class="leaf"><a title="" href="http://www.formez.it/">Formez PA</a></li>
<li class="last leaf"><a title="" href="http://www.wikitalia.it/">Wikitalia</a></li>
</ul>  </div>
</div>
  </div>
          <div class="region region-footer-secondcolumn">
    <div class="block block-menu" id="block-menu-menu-informazioni-utili">

    <h2>Il progetto</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="/content/cosa-open-expo">Cos'è Open Expo</a></li>
<li class="last leaf"><a title="" href="/node/10886">Chi realizza Open Expo</a></li>
</ul>  </div>
</div>
  </div>
          <div class="region region-footer-thirdcolumn">
    <div class="block block-menu" id="block-menu-menu-varie">

    <h2>Expo 2015</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="http://www.expo2015.org/it">Expo 2015</a></li>
<li class="leaf"><a title="" href="http://www.expo2015contact.it/">expo2015contact.it</a></li>
<li class="leaf"><a title="" href="http://www.e015.expo2015.org/">E015</a></li>
<li class="leaf"><a title="" href="http://www.anciperexpo.it/index.php">Anci per Expo</a></li>
<li class="last leaf"><a title="" href="http://www.tavoliexpo.it/">I Tavoli Tematici</a></li>
</ul>  </div>
</div>
  </div>
          <div class="region region-footer-fourthcolumn">
    <div class="block block-menu" id="block-menu-menu-sito">

    <h2>Sito</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a title="" href="/content/i-feed-rss-di-openexpo2015">RSS</a></li>
<li class="leaf"><a title="" href="/content/accessibilita">Accessibilità</a></li>
<li class="leaf"><a title="" href="/content/note-legali">Note legali</a></li>
<li class="leaf"><a title="" href="/content/privacy">Privacy</a></li>
<li class="last leaf"><a title="" href="/user">Area riservata</a></li>
</ul>  </div>
</div>
  </div>
      </div>

      <!-- /#footer-columns -->
    
    
  </div></div> <!-- /.section, /#footer-wrapper -->

