{% block header_wrapper %}
{% block header_account %}
{% endblock %}
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Salta al contenuto principale</a>
  </div>
    <div id="page-wrapper"><div id="page">

  <div id="header" class="without-secondary-menu"><div class="section clearfix">

          <a href="http://89.97.56.42/" title="Home" rel="home" id="logo">
        <img src="/catalog/img/logo-openexpo_0.png" alt="Home">
      </a>
    
          <div id="name-and-slogan">

                              <h1 id="site-name">
              <a href="http://89.97.56.42/" title="Home" rel="home"><span>OpenExpo</span></a>
            </h1>
                  
                  <div id="site-slogan">
            Milano 2015 Nutrire il pianeta energia per la vita          </div>
        
      </div> <!-- /#name-and-slogan -->

      <div id="main-menu" class="navigation">
         <h2 class="element-invisible">Menu principale</h2>
         <ul id="main-menu-links" class="links clearfix">
           <li class="menu-246 first"><a href="http://89.97.56.42/" title="Home Page di OpenExpo2015" class="active">HOME</a></li>
           <li class="menu-1344 active"><a href="/catalog/dataset" title="Cerca nel catalogo degli open data di Expo 2015">DATI</a></li>
           <li class="menu-755 last"><a href="http://89.97.56.42/notizie_pi%C3%B9_recenti" title="Le notizie di Open Expo">NOTIZIE</a></li>
         </ul>
     </div> <!-- /#main-menu -->
    
  </div></div> <!-- /.section, /#header -->
{% endblock %}
