{% block header_wrapper %}
{% block header_account %}
{% endblock %}
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Salta al contenuto principale</a>
  </div>
    <div id="page-wrapper"><div id="page">

  <div id="header" class="without-secondary-menu"><div class="section clearfix">

          <a href="/" title="Home" rel="home" id="logo">
        <img src="/catalog/img/openexpo_logo.png" style="height:70px;" alt="Home">
      </a>
    
          <div id="name-and-slogan">
                  <div id="site-slogan">
             Dati e trasparenza per Expo 2015          </div>
        
      </div> <!-- /#name-and-slogan -->

      <div id="main-menu" class="navigation">
         <h2 class="element-invisible">Menu principale</h2>
         <ul id="main-menu-links" class="links clearfix">
           <li class="menu-246 first"><a href="/" title="Home Page di OpenExpo2015" class="active">HOME</a></li>
           <li class="menu-1931"><a title="" href="/chart/lavori.html">CRUSCOTTO LAVORI</a></li>
           <li class="menu-1344 active"><a href="/catalog/dataset" title="Cerca nel catalogo degli open data di Expo 2015">OPEN DATA</a></li>
           <li class="menu-755 last"><a href="/notizie_pi%C3%B9_recenti" title="Le notizie di Open Expo">NOTIZIE</a></li>
         </ul>
     </div> <!-- /#main-menu -->
    
  </div></div> <!-- /.section, /#header -->
{% endblock %}
